#map1 {
    background-color: #e30613;
    background: url("../assets/eil-geoportail-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
div.lux-popup-content {
    position: relative;
}
div.lux-popup-content a:before
{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
button.lux-popup-close:hover {
    color: #e30613;
    cursor: crosshair;
}
